/*  Menu  */

ul#zhurnal-menu {
	list-style:none;
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap: 2rem 2rem;
	}

#zhurnal-container .button-container {
	margin-bottom: 1em;
	display: flex;
	justify-content: flex-start;
}

#zhurnal-container .zhurnal-button.to-main {
	padding: 0 1em;
}

#zhurnal-container .zhurnal-button {
	text-align:center;
	border: 2px solid black;
	padding: 0.5em 0;
	line-height:2em;
	text-decoration:none;
	color:black;
	display: block;
}

ul#zhurnal-menu a {
	width: 6em;
}

#zhurnal-container .zhurnal-button:hover {
	background-color:#E0E0E0;
}

#zhurnal-container .zhurnal-button:active {
	background-color:#D1D1D1;
}

ul#zhurnal-menu.main {
	width: 21.6em;
}

ul#zhurnal-menu.main a {
	height:2em;
	font-size:1.5em;
}

ul#zhurnal-menu a.active {
	background-color:#ff7f2a;
	font-weight:bold;
}

/* Search Form */
form#zukh {
	margin-top:1em;
	display: flex;
}

ol.zhurnal-index {
	padding-right:2em;
}

ul.zhurnal{
	list-style:none;
}

.zhurnal.index-letter {
	font-size: 3em;
	font-family:serif;
	line-height: normal;
}

ul.zhurnal.author-index, ul.zhurnal.tag-index {
	margin-right:0;
}

ul.zhurnal.letter-listing {
	margin-right:2.5em;
}

ul.zhurnal.author-index > li {
	margin-top: 1em;
}

ul.zhurnal.article-listing {
	background-color: #EFEFEF;
	padding-right:.5em
}

.author-name,
.category-name {
	font-size:1.2em;
}

.zhurnal.tag {
	font-size:1.1em;
}

a.zhurnal-article-title,
a.by-author {
	text-decoration:none;
}

.by-author:hover,
.author-name:hover,
.zhurnal.tag:hover,
.category-name:hover,
a.zhurnal-article-title:hover {
	text-decoration:underline;
}

.zhurnal-reader-container {
	height: 85vh;
}

#BookReader .BRtoolbarRight {
	display: none;
}